<!-- <nb-card>
  <nb-card-header>

  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (createConfirm)="addRecord($event)" (deleteConfirm)="onDeleteConfirm($event)"  (editConfirm)="onEditConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card> -->
  <nb-card>
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Full width tab #1">
        <nb-card>
          <nb-card-header>Ajouter Répertoire</nb-card-header>
          <nb-card-body>
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
              <div class="form-group row">
                <label for="input1" class="col-sm-3 col-form-label">Titre</label>
                <div class="col-sm-9">
                  <input type="text" name="titre" [(ngModel)]="model.titre"
                         #ctrl1="ngModel"  class="form-control" id="input1" placeholder="titre" required>
                  <small class="form-text error" *ngIf="ctrl1.invalid && ctrl1.touched && ctrl1.errors['required']">
                    required!
                  </small>
                </div>
              </div>
              <div class="form-group row">
                <label for="input2" class="col-sm-3 col-form-label">Catégorie</label>
                <div class="col-sm-9">
                  <select id="input2" class="form-control" name="categorie" [(ngModel)]="model.categorie" #ctrl2="ngModel" required>
                    <option>Automobile</option>
                    <option>Caffe & Resto</option>
                    <option>Hebergement</option>
                    <option>Voyage</option>
                  </select>
                  <small class="form-text error" *ngIf="ctrl2.invalid && ctrl2.touched && ctrl2.errors['required']">
                    required!
                  </small>
                </div>
              </div>
              <div class="form-group row">
                <label for="input3" class="col-sm-3 col-form-label">Adresse</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="input3" placeholder="adresse" name="adresse" [(ngModel)]="model.adresse"  #ctrl3="ngModel" required>
                  <small class="form-text error" *ngIf="ctrl3.invalid && ctrl3.touched && ctrl3.errors['required']">
                    required!
                  </small>
                </div>
              </div>
              <div class="form-group row">
                <label for="input4" class="col-sm-3 col-form-label">Ville</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="input4" placeholder="ville" name="ville" [(ngModel)]="model.ville"  #ctrl4="ngModel" required>
                  <small class="form-text error" *ngIf="ctrl4.invalid && ctrl4.touched && ctrl4.errors['required']">
                    required!
                  </small>
                </div>
              </div>

              <div class="form-group row">
                <label for="input5" class="col-sm-3 col-form-label">Auteur</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="input5" placeholder="auteur" name="auteur" [(ngModel)]="model.auteur"  #ctrl5="ngModel" required>
                  <small class="form-text error" *ngIf="ctrl5.invalid && ctrl5.touched && ctrl5.errors['required']">
                    required!
                  </small>
                </div>
              </div>
              <div class="form-group row">
                <label for="input6" class="col-sm-3 col-form-label">Télephone</label>
                <div class="col-sm-9">
                  <input type="tel" class="form-control" id="input6" pattern="^[0-9-+s()]*$" placeholder="" name="telephone" [(ngModel)]="model.telephone"  #ctrl6="ngModel" required>
                  <small class="form-text error" *ngIf="ctrl6.invalid && ctrl6.touched && ctrl6.errors['required']">
                    required!
                  </small>
                </div>
              </div>
              <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                  <button type="submit" class="btn btn-success" [disabled]="!f.form.valid" (click)="showStaticModal()">Ajouter</button>
                </div>
              </div>
            </form>
          </nb-card-body>
        </nb-card>

      </nb-tab>
      <nb-tab tabTitle="Full width tab #2">
        <span></span>
        <nb-card>
          <nb-card-header>Modifier Répertoire</nb-card-header>
          <nb-card-body>
            <div class="form-group row">
              <label for="input7" class="col-sm-3 col-form-label">Répertoires</label>
              <div class="col-sm-9">
                <select id="input7" class="form-control">
                  <option></option>
                </select>
              </div>
            </div>
            <form>
              <div class="form-group row">
                <label for="input8" class="col-sm-3 col-form-label">Titre</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="input8" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label for="input9" class="col-sm-3 col-form-label">Catégorie</label>
                <div class="col-sm-9">
                  <select id="input9" class="form-control">
                    <option>Automobile</option>
                    <option>Caffe & Resto</option>
                    <option>Hebergement</option>
                    <option>Voyage</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="input10" class="col-sm-3 col-form-label">Adresse</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="input10" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label for="input11" class="col-sm-3 col-form-label">Ville</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="input11" placeholder="">
                </div>
              </div>

              <div class="form-group row">
                <label for="input12" class="col-sm-3 col-form-label">Auteur</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="input12" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label for="input13" class="col-sm-3 col-form-label">Télephone</label>
                <div class="col-sm-9">
                  <input type="tel" class="form-control" id="input13" pattern="^[0-9-+s()]*$" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                  <button type="submit" class="btn btn-warning" (click)="showStaticModal()">Modifier</button>
                </div>
              </div>
            </form>
          </nb-card-body>
        </nb-card>

      </nb-tab>
      <nb-tab tabTitle="Full width tab #3">
        <span></span>
        <nb-card>
          <nb-card-header>Supprimer Répertoire</nb-card-header>
          <nb-card-body>
            <form>
              <div class="form-group row">
                <label for="input14" class="col-sm-3 col-form-label">Répertoires</label>
                <div class="col-sm-9">
                  <select id="input14" multiple class="form-control">
                    <option></option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                  <button type="submit" class="btn btn-danger" (click)="showStaticModal()">Supprimer</button>
                </div>
              </div>
            </form>
          </nb-card-body>
        </nb-card>

      </nb-tab>
    </nb-tabset>
  </nb-card>







