<!--
<nb-card style="height: 400px">
  <nb-card-header>Annuaire des entreprise</nb-card-header>
  <nb-card-body [style.background-image]="'url(' + source + ')'">
    <form class="form-inline">
      <div class="input-group full-width">
        <ngx-search (positionChanged)="updateLocation($event)" ></ngx-search>
      </div>
    <!--  <button class="btn btn-success btn-semi-round btn-demo" >Search</button> --><!--
    </form>
  </nb-card-body>
</nb-card>-->
<!--nb-card>
  <nb-card-header></nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <div class="example-container toggle-types">
          <div class="container-title"></div>
          <div [(ngModel)]="radioModel" ngbRadioGroup
               class="btn-group btn-group-toggle btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group">
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" value="left"> Automobile
            </label>
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" value="middle"> Cafes & Restos
            </label>
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" value="middl"> Hébergement
            </label>
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" value="right"> Voyages
            </label>
          </div>
        </div>
        </div>
      </div>
  </nb-card-body>
</nb-card-->

<!--
<nb-card>
  <nb-card-header></nb-card-header>
  
  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <div class="example-container toggle-types">
          <div class="container-title"></div>
          <div [(ngModel)]="radioModel" ngbRadioGroup
               class="btn-group btn-group-toggle btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group">
                        <label *ngFor="let elt of dataC" ngbButtonLabel class="btn btn-outline-primary">
              <input (click)="fnclick(elt.titre);" ngbButton type="radio" value="{{elt.titre}}"/> {{elt.titre}} 
            </label>
            
          </div>
        </div>
        </div>
      </div>
  </nb-card-body>
</nb-card>
-->

<div class="row center bluebg">
  <div class="col-md-12 col-lg-6 col-sm-12" >
    <div class="video hidden-md hidden-lg">
      <div class="zone"></div>
      <video width="400" autoplay loop controls>
        <source src="{{source2}}" type="video/mp4">
         Your browser does not support HTML5 video.
      </video>

      <!--<iframe width="600" height="320" src="https://www.youtube.com/embed/R5DAuIgAFNU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
      <br>
    </div>
    <!--
    <div class="video visible-md visible-lg">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/jAg5wPuA5lU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div> -->
     </div>
  <div class="col-md-12 col-lg-6 col-sm-12 center" ><br>
    <h1 style="color:white;text-shadow: 1px 1px #000408">Bienvenue à notre réseau professionnel <em>IBO</em></h1><br><br><br>
    <p class="center">
      Un réseau qui permet de connecter les professionnels
       et de fournir des opportunités d'emploi, de vente, de réseautage et de relations...
    </p>
    <div class="form-large form-signup form-js autocheck">
      <a   style="cursor:pointer" status="success" class="btn"  href="/#/auth/register">Inscription</a>
      <a   style="cursor:pointer" status="success" class="btn"  href="/#/auth/login">Connexion</a>
    </div>

  </div>
</div>

<br>
<br>
<nb-card>

  <nb-card-body>
<div class="row">
  <div class="col-lg-12 text-center">
    <h2 class="section-heading text-uppercase">A propos de IBO</h2>
    <h3 class="section-subheading text-muted">un réseau intelligent</h3>
    <br>

  </div>
</div>
<div class="row text-center">
  <div class="col-md-4 col-xs-12">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-suitcase fa-stack-1x fa-inverse"></i>
            </span>
    <h4 class="service-heading">DÉCOUVREZ DES OPPORTUNITÉS</h4>
    <p class="text-muted">Recevez une alerte chaque fois qu'un responsable du recrutement poste une offre d'emploi qui correspond à vos exigences (et vice versa).</p>
  </div>
  <div class="col-md-4 col-xs-12">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
            </span>
    <h4 class="service-heading">PUBLIER DES OFFRES</h4>
    <p class="text-muted">Faites-vous jumeler avec des millions de candidats du monde entier. Recevez des alertes chaque fois que nous vous mettons en correspondance avec un candidat qui répond à vos critères.</p>
  </div>
  <div class="col-md-4 col-xs-12">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-handshake-o fa-stack-1x fa-inverse"></i>
            </span>
    <h4 class="service-heading">CONSTRUIRE DES RELATIONS</h4>
    <p class="text-muted">Réseautez professionnellement et maintenant personnellement.
             Découvrez et rencontrez des professionnels en fonction de vos préférences (âge, sexe, intérêts, personnalité et plus).</p>
  </div>
</div>
  </nb-card-body></nb-card>
<!--
<nb-card>  <br><br>
  <nb-card-body>
    <div class="row">
      <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
         <ngx-ad  [category]="selectedCategory"></ngx-ad>
       <!--ngx-ad  *ngIf="selectedCategory; else infoText"
      [category]="selectedCategory"></ngx-ad--><!--
      </div>
    </div>
  </nb-card-body>
</nb-card>
<!--
<nb-card>
 <div align="center"><nb-card-header><h2 style="align: center">Répertoires En Vedette</h2></nb-card-header></div>
  <br><br>
  <nb-card-body>
    <div class="row">
      <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
         <ngx-ad></ngx-ad>
      </div>
    </div>
  </nb-card-body>
</nb-card>
--><!--
<nb-card>
<nb-card-header><h3 style="text-align:center">catégories</h3></nb-card-header>
<nb-card-body>
<div class="row">
<div *ngFor="let cat of arraycat1; let i = index " class="col-md-2">
  <img src="../../../assets/images/{{cat}}.png"/>
<h5 class="text-center">{{cat}} ( {{arraycat2[i]}} ) </h5></div>

</div>
</nb-card-body>
</nb-card>


<!--
<nb-card>
  <div align="center"><nb-card-header><h2 style="align: center">Réjoignez nous facilement en 3 étapes</h2></nb-card-header></div>
  <br><br>
<nb-card-body>
  <form class="form-inline">
    <div align="left">
      <button class="btn btn-default btn-round btn-demo"style="height: 100px;" disabled><span style="color: black">Inscription</span></button>
    </div>
    <div align="center">
      <button class="btn btn-default btn-round btn-demo"style="height: 100px; margin-left: 90px; margin-right: 90px" disabled><span style="color: black">Vérifiez votre Email</span></button>
    </div>
    <div align="right">
      <button class="btn btn-default btn-round btn-demo"style="height: 100px;" disabled><span style="color: black">Accédez et ajoutez votre répértoire</span></button>
    </div>
  </form>
</nb-card-body>
</nb-card>
-->
  <nb-card-body>
    <div class="row">
      <div class="col-xl-3 col-xxl-4 col-lg-5 col-md-6">
         <ngx-ad></ngx-ad>
      </div>
    </div>
  </nb-card-body>