@import url('https://fonts.googleapis.com/css?family=Muli:400,700');

body {
    background:#333333;
    font-family: 'Muli';
}
.carte {
    padding:30px 30px 30px 30px;
    /*background-color: #ffffff;*/
    min-height: 300px;
    border-radius: 25px;border:1px solid grey;
    cursor:pointer;
}

h3{text-align:center;font-size:22px;}


.btn2 {
    background-color: #40dc7e; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer;
    margin-top: 80px;
    margin-bottom: 10px;
    margin-left: 10px;
    float:right;width:200px;
}
