<nb-layout>
    <nb-layout-column>
        <nb-card>
            <nb-card-body>
                <div class="flex-centered col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <router-outlet></router-outlet>
                    <br>
                    <div align="center" class="row"><h2>Je cherche une opportunité de </h2></div><br><br>
<div class="row"  >

    <div class=" col-md-4 col-xs-8 col-sm-6 col-xs-offset-2 col-sm-offset-4 col-md-offset-1" >
        <div style="background-color: white" id="c1" class="carte"   onclick="update('c1')"  (click)="changeType('Développer réseau')">
            <br><br><h3>Développer mon Réseau</h3><br>
            <div align=center><img style="text-align:center" src="../../../assets/images/growth.png"></div>

        </div>
    </div>

    <div    class="col-md-4 col-xs-8 col-sm-6 col-xs-offset-2 col-sm-offset-4 col-md-offset-1"  >
        <div style="background-color: white" id="c2" class="carte"  onclick="update('c2')"(click)="changeType('Trouver des Opportunités')">
            <br><br><h3>Trouver des Opportunités</h3><br>
            <div align=center> <img style="text-align:center" src="../../../assets/images/job1.png"></div>
        </div>
    </div>

    <div   class="col-md-4 col-xs-8 col-sm-6 col-xs-offset-2 col-sm-offset-4 col-md-offset-1"  >
        <div style="background-color: white" id="c3" class="carte"  onclick="update('c3')"  (click)="changeType('Anciennes Opportunités')">
            <br><br><h3>Anciennes Opportunités </h3><br>
            <div align=center><img  src="../../../assets/images/job2.png"></div>

        </div>
    </div>


</div><!--row-->


<div class="row">
    <div class="col-xs-12 col-md-10 col-lg-10"><button [disabled]="" class="btn2" (click)="previous()"  type="submit" > <i class="fa fa-arrow-left"></i> Précedent</button></div>
    <div class="col-xs-12 col-md-2 col-lg-2" ><button style="margin-right:20px" [disabled]="" class="btn2" (click)="next()"  type="submit" > <i class="fa fa-check"></i> Terminer</button></div>
</div>
<br>

<style>
    .menu-sidebar .start,nb-sidebar{display:none!important;}
</style>




                </div>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>