<nb-card style="padding:30px 30px 30px 30px">

<p>
    Ces professionnels sont intéressés par la mise en réseau et vous conviennent parfaitement en fonction de l'emplacement, du secteur d'activité, des intérêts, etc.
</p>
    <p>
    Ce sont des gens qui veulent réseauter!
</p>
</nb-card>

<nb-card>
<nb-tabset>
    <nb-tab tabTitle="Par les centres d'intérêt" style="padding-left:35px">
        <br><br>
        <div _ngcontent-c64="" class="contact ng-star-inserted">
            <div _ngcontent-c64="" size="large" _nghost-c12="" class="large">
                <div _ngcontent-c12="" class="user-container">
                    <!----><div _ngcontent-c12="" class="user-picture image ng-star-inserted" style="background-image: url('assets/images/avatar1.png')">
                    <!----></div>
                    <!----><div _ngcontent-c12="" class="info-container">
                    <!----><div _ngcontent-c12="" class="user-name ng-star-inserted">Rami Mabrouk</div>
                    <!----><div _ngcontent-c12="" class="user-title ng-star-inserted">Software Engineer</div></div>
                </div>
            </div>


            <div style="height:70px;padding-top:30px;padding-left:55px;margin-bottom:15px">  <i _ngcontent-c64="" class="i-contact nb-email"><a (click)="showStaticModal()"  style="color:#2196f3;text-decoration:none;font-weight:bold;cursor:pointer"  >  Envoyer un Message</a></i><br></div>			</div>
        <div _ngcontent-c64="" class="contact ng-star-inserted">
            <div _ngcontent-c64="" size="large" _nghost-c12="" class="large">
                <div _ngcontent-c12="" class="user-container"><!---->
                    <div _ngcontent-c12="" class="user-picture image ng-star-inserted" style="background-image: url('assets/images/avatar3.png');">
                        <!----></div><!----><div _ngcontent-c12="" class="info-container"><!----><div _ngcontent-c12="" class="user-name ng-star-inserted">Mohamed Hadj Said</div>
                        <!----><div _ngcontent-c12="" class="user-title ng-star-inserted">Accountant</div></div>
                </div></div>
                      <div style="height:70px;padding-top:30px;padding-left:55px;margin-bottom:15px">  <i _ngcontent-c64="" class="i-contact nb-email"><a (click)="showStaticModal()"   style="color:#2196f3;text-decoration:none;font-weight:bold;cursor:pointer"  >  Envoyer un Message</a></i><br></div>
        </div>

        <div _ngcontent-c64="" class="contact ng-star-inserted">
            <div _ngcontent-c64="" size="large" _nghost-c12="" class="large">
                <div _ngcontent-c12="" class="user-container">
                    <!---->
                    <div _ngcontent-c12="" class="user-picture image ng-star-inserted" style="background-image: url('assets/images/avatar5.png')"><!----></div><!---->
                    <div _ngcontent-c12="" class="info-container"><!----><div _ngcontent-c12="" class="user-name ng-star-inserted">Rafik Chtochreb</div><!---->
                        <div _ngcontent-c12="" class="user-title ng-star-inserted">CEO</div></div></div></div>
            <div style="height:70px;padding-top:30px;padding-left:55px;margin-bottom:15px">  <i _ngcontent-c64="" class="i-contact nb-email"><a  (click)="showStaticModal()"  style="color:#2196f3;text-decoration:none;font-weight:bold;cursor:pointer"  >  Envoyer un Message</a></i><br></div></div>
        <div _ngcontent-c64="" class="contact ng-star-inserted"><div _ngcontent-c64="" size="large" _nghost-c12="" class="large">
            <div _ngcontent-c12="" class="user-container"><!----><div _ngcontent-c12="" class="user-picture image ng-star-inserted" style="background-image: url('assets/images/avatar2.png');"><!----></div><!----><div _ngcontent-c12="" class="info-container"><!---->
                <div _ngcontent-c12="" class="user-name ng-star-inserted">Marwa Tounsi</div><!---->
                <div _ngcontent-c12="" class="user-title ng-star-inserted">Project Manager</div>
            </div>
            </div>
        </div>
          <div style="height:70px;padding-top:30px;padding-left:55px;margin-bottom:15px">  <i _ngcontent-c64="" class="i-contact nb-email"><a  (click)="showStaticModal()"  style="color:#2196f3;text-decoration:none;font-weight:bold;cursor:pointer"  >  Envoyer un Message</a></i><br></div>
			</div>
        <div _ngcontent-c64="" class="contact ng-star-inserted">
            <div _ngcontent-c64="" size="large" _nghost-c12="" class="large">
                <div _ngcontent-c12="" class="user-container"><!---->
                    <div _ngcontent-c12="" class="user-picture image ng-star-inserted" style="background-image: url(&quot;assets/images/avatar10.png&quot;);"><!----></div>
                    <!----><div _ngcontent-c12="" class="info-container"><!----><div _ngcontent-c12="" class="user-name ng-star-inserted">Samira Brahem</div><!---->
                        <div _ngcontent-c12="" class="user-title ng-star-inserted">Sales Manager</div></div></div></div>
            <div style="height:70px;padding-top:30px;padding-left:55px;margin-bottom:15px">  <i _ngcontent-c64="" class="i-contact nb-email"><a  (click)="showStaticModal()"   style="color:#2196f3;text-decoration:none;font-weight:bold;cursor:pointer"  >  Envoyer un Message</a></i><br></div></div><!---->
    </nb-tab>
    <nb-tab tabTitle="Par les critères" style="padding-left:35px">
        <br><br>
        <div _ngcontent-c64="" class="contact ng-star-inserted">
            <div _ngcontent-c64="" size="large" _nghost-c12="" class="large">
                <div _ngcontent-c12="" class="user-container">
                    <!----><div _ngcontent-c12="" class="user-picture image ng-star-inserted" style="background-image: url('assets/images/avatar7.png')">
                    <!----></div>
                    <!----><div _ngcontent-c12="" class="info-container">
                    <!----><div _ngcontent-c12="" class="user-name ng-star-inserted">Salim Sassi</div>
                    <!----><div _ngcontent-c12="" class="user-title ng-star-inserted">Software Engineer</div></div>
                </div>
            </div>


                        <div style="height:70px;padding-top:30px;padding-left:55px;margin-bottom:15px">  <i _ngcontent-c64="" class="i-contact nb-email"><a (click)="showStaticModal()"   style="color:#2196f3;text-decoration:none;font-weight:bold;cursor:pointer"  >  Envoyer un Message</a></i><br></div></div>
        <div _ngcontent-c64="" class="contact ng-star-inserted">
            <div _ngcontent-c64="" size="large" _nghost-c12="" class="large">
                <div _ngcontent-c12="" class="user-container"><!---->
                    <div _ngcontent-c12="" class="user-picture image ng-star-inserted" style="background-image: url('assets/images/avatar9.png');">
                        <!----></div><!----><div _ngcontent-c12="" class="info-container"><!----><div _ngcontent-c12="" class="user-name ng-star-inserted">Mohamed Mabrouk</div>
                        <!----><div _ngcontent-c12="" class="user-title ng-star-inserted">Accountant</div></div>
                </div></div>
                        <div style="height:70px;padding-top:30px;padding-left:55px;margin-bottom:15px">  <i _ngcontent-c64="" class="i-contact nb-email"><a (click)="showStaticModal()"   style="color:#2196f3;text-decoration:none;font-weight:bold;cursor:pointer"  >  Envoyer un Message</a></i><br></div></div>

        <div _ngcontent-c64="" class="contact ng-star-inserted">
            <div _ngcontent-c64="" size="large" _nghost-c12="" class="large">
                <div _ngcontent-c12="" class="user-container">
                    <!---->
                    <div _ngcontent-c12="" class="user-picture image ng-star-inserted" style="background-image: url('assets/images/avatar8.png')"><!----></div><!---->
                    <div _ngcontent-c12="" class="info-container"><!----><div _ngcontent-c12="" class="user-name ng-star-inserted">Amira Ben Salah</div><!---->
                        <div _ngcontent-c12="" class="user-title ng-star-inserted">CEO</div></div></div></div>
            <div style="height:70px;padding-top:30px;padding-left:55px;margin-bottom:15px">  <i _ngcontent-c64="" class="i-contact nb-email"><a (click)="showStaticModal()"   style="color:#2196f3;text-decoration:none;font-weight:bold;cursor:pointer"  >  Envoyer un Message</a></i><br></div></div>
        <div _ngcontent-c64="" class="contact ng-star-inserted"><div _ngcontent-c64="" size="large" _nghost-c12="" class="large">
            <div _ngcontent-c12="" class="user-container">
                <!----><div _ngcontent-c12="" class="user-picture image ng-star-inserted" style="background-image: url('assets/images/avatar6.png');"><!----></div>
                <!----><div _ngcontent-c12="" class="info-container"><!---->
                <div _ngcontent-c12="" class="user-name ng-star-inserted">Mahmoud Besbes</div><!---->
                <div _ngcontent-c12="" class="user-title ng-star-inserted">Project Manager</div>
            </div>
            </div>
        </div>
                        <div style="height:70px;padding-top:30px;padding-left:55px;margin-bottom:15px">  <i _ngcontent-c64="" class="i-contact nb-email"><a (click)="showStaticModal()"   style="color:#2196f3;text-decoration:none;font-weight:bold;cursor:pointer"  >  Envoyer un Message</a></i><br></div></div>
        <div _ngcontent-c64="" class="contact ng-star-inserted">
            <div _ngcontent-c64="" size="large" _nghost-c12="" class="large">
                <div _ngcontent-c12="" class="user-container"><!---->
                    <div _ngcontent-c12="" class="user-picture image ng-star-inserted" style="background-image: url(&quot;assets/images/avatar4.png&quot;);"><!----></div>
                    <!----><div _ngcontent-c12="" class="info-container"><!----><div _ngcontent-c12="" class="user-name ng-star-inserted">Selma rezg allah</div><!---->
                        <div _ngcontent-c12="" class="user-title ng-star-inserted">Sales Manager</div></div></div></div>
            <div style="height:70px;padding-top:30px;padding-left:55px;margin-bottom:15px">  <i _ngcontent-c64="" class="i-contact nb-email"><a  (click)="showStaticModal()"  style="color:#2196f3;text-decoration:none;font-weight:bold;cursor:pointer"  >  Envoyer un Message</a></i><br></div></div><!---->
    </nb-tab>
</nb-tabset>
</nb-card>


