.container{
padding-right:10%;
padding-left:10%;
}
.badge{
      background-color: #00a65a !important;
      color: #fff !important;
      display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

/************** Css Box start *******************/
.summary-box {
    border: 1px solid #d5d8dc;
    margin-bottom: 30px;
    font-weight: 400;
    background-color: transparent;
}
@media screen and (min-width: 780px){
.summary-box {
    transition: all 0.25s;
}
}
.section{
  display: block;
}
@media screen and (min-width: 780px){
.summary-box > .summary-content {
    padding: 10px;
    position: relative;
}
}
.summary-box > .summary-content .media {
    margin-top: 0;
}
.media, .media-body {
    zoom: 1;
    overflow: hidden;
}
@media (min-width: 992px){
.summary-box > .summary-content .media-body {
    border-right: 1px solid #d5d8dc;
    padding-right: 10px;
}
}
.media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: top;
        width: 10000px;
        zoom: 1;
    overflow: hidden;
}
.summary-box > .summary-content .summary-desc {
    color: #797979;
    padding: 2px 0 10px 0;
    font-size: 95%;
}
small, .small {
    font-size: 86%;
}
@media (min-width: 992px){
.summary-box > .summary-content .media-right {
    width: 30%;
    font-size: 90%;
}
}
.media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: top;
}
.summary-box > .summary-content .summary-info {
    padding: 0 0 10px 0;
}
@media (min-width: 992px){
.summary-box > .summary-content .media-right {
    width: 30%;
    font-size: 90%;
}
}
.summary-box > .summary-content .social-share .social-button {
    margin: 0 2px;
}
.social-button {
    display: inline-block;
    vertical-align: middle;
}
.social-button .btn-info {
    border-radius: 50%;
    font-size: 18px;
    padding: 5px;
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;
}
.summary-box a, .summary-box .hidden-info, .summary-box .reviewButtonTrigger {
    text-decoration: underline;
}
.btn-info {
    color: #fff;
    background-color: #000408;
    border-color: #000408;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.summary-box > .summary-content h3 a {
    text-decoration: none;
    color: black;
}


/************* Css box end ********************/